:root {
    --dark: #007FAE;
    --light:cornsilk;
    --list: none;
    --padding: 20px;
}
/* to make sure css boxes adjust correctlly to total dimensions of page */
* {
    box-sizing: border-box;
  }

/* header syling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 1%;
}

nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 200px;
    list-style-type: var(--list);  
}
/* body styling */
/* make a class about section */
main {
    display: flex;
}

main aside {
    flex: 1;
    padding: var(--padding)
}
main img {
    flex:2;
    min-width: 310px;
    min-height: 250px;
    padding: var(--padding)
}

/* work section maybe use div's */
/* grid system */
section{
    display:flex;
}

section h3 {
    padding: var(--padding);
}
.feature {
    min-width: 300px;
    padding: var(--padding);
}

.prework {
    min-width: 300px;
    max-width: 40%;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#captions {
    position: relative;
    bottom: 20px;
    width: fit-content;
    background-color: var(--dark);
    color: var(--light)
}

/* footer styling */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    list-style-type: var(--list);
}

@media screen and (max-width: 768px){
    header, main, section {
        flex-direction: column;
    }
}